PLAN.md
fonts.zip
.cache

*.o
*.c.d
*.h.d
*.cpp.d
*.exe
*.pch
*.gch
*.pch.d
*.gch.d

*.sublime-*
build/
fonts/
specs/
tmp/

*.pdf
*.ttf
*.ttc
*.otf
*.otc
*.ttx
*.xml
*.json
*.cff

big.sap
test2.sap
ClangBuildAnalyzer.ini
report.sap
